<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bertie</title>
</head>
<body>
    <h1>Create Member</h1>
    <form action="/member/new" method="post">
        <div class="createMember">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
            <label for="password">PW</label>
            <input type="password" id="password" name="password">
            <label for="confirmPassword">Confirm</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>
        <button type="submit">create</button>
    </form>
</body>
</html>